

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="../../public/styles/tweets.css">

<div id="twitter_container">
  <h1>TWEETS</h1>
<div class="tweet_container">
  <% if (myTweets.statuses.length === 0 ) { %>
    <p>No Tweets, check back later!</p>
  <% } %> 
    <% myTweets.statuses.forEach( tweets => { %>
     <div class="card" style="width: 50rem;">
       <div class="card-body">
         <a class="tweet_link" target="_blank" href="https://twitter.com/<%= tweets.user.screen_name %>/status/<%= tweets.id_str %>"><%= tweets.text %></a>
         <p class="usernames">@<%= tweets.user.screen_name %></p>
       </div>
     </div>
   <% }) %>
</div>

<div class="hashtag_container">
  <h1>HASHTAGS</h1>
  <div class="card" style="width: 50rem;">
    <div class="hashtags_card-body">
      <% myTweets.statuses.forEach( status => { %>
          <% status.entities.hashtags.forEach( hashtag => { %>
            <h5 class="hashtags_card-text">#<%= hashtag.text %></h5>
        <% }) %>
      <% }) %>
      <p class="message"><%= message %></p>
    </div>
    </div>
  </div>
</div>




