
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Archivo&family=Open+Sans&family=Poppins&display=swap" rel="stylesheet">          
<link rel="stylesheet" href="../../public/styles/tweets.css">

<div id="twitter_container">
    <h1 class="subtitle">Tweets <img class="twitterlogo" src="../../public/images/showpage/twitterlogo.png" alt></h1>
<div class="tweet_container">
  <% if (myTweets.statuses.length === 0 ) { %>
    <p>No Tweets, check back later!</p>
  <% } %> 
    <% myTweets.statuses.forEach( tweets => { %>
     <div class="card" style="width: 50rem;">
       <div class="card-body">
         <a class="tweet_link" target="_blank" href="https://twitter.com/<%= tweets.user.screen_name %>/status/<%= tweets.id_str %>"><%= tweets.text %></a>
         <p class="usernames">Tweeted by @<%= tweets.user.screen_name %></p>
       </div>
     </div>
   <% }) %>
</div>

<div class="hashtag_container">
  <h1 class="subtitle">Hashtags <img class="twitterlogo" src="../../public/images/showpage/twitterlogo.png" alt></h1>
  <div class="card" style="width: 50rem;">
    <div class="hashtags_card-body">
      <% myTweets.statuses.forEach( status => { %>
          <% status.entities.hashtags.forEach( hashtag => { %>
            <h5 class="hashtags_card-text">#<%= hashtag.text %></h5>
        <% }) %>
      <% }) %>
      <p class="message"><%= message %></p>
    </div>
    </div>
  </div>
</div>




